header {
    /* absolute allows all other elements to ignore it, it will be positioned to its closest positioned parent element and offset properties can be used */
    /* position: absolute; */

    /* fixed is used to position an element to a specific part of the page */
    position: fixed;
    width: 100%;
    /* z-index can help layer elements to bring them back and forth */
    z-index: 10;
}

.welcome {
    /* relative lets you move from its default position by adding offset properties */
    position: relative;
    top: 50px;
}

.question {
    /* block-level elements take the full width of their parent element */
    /* static is default, doesn't need to be stated */
    /* position: static; */
    
    /* sticky sets the element at a certain point as the page is scrolled with offset properties */
    position: sticky;
    top: 300px;
    /* clear specifies how elements should behave when they bump into each other on the page */
    clear: left;
}

footer {
    height: 100px;
}

li {
    /* inline-block combines inline and block elements they can appear next to each other and we can specify dimensions with height and width */
    display: inline-block;
    width: 80px;
}

.answer {
    display: inline-block;
    /* float is used to move elements far left or right as possible with width */
    float: left;
}