/* universal selector */
* {
  border: 1px solid red;
}

p {
    color: green;
}

h1 {
  color: maroon;
}

/* class selector */
.title {
  color: teal;
}

.uppercase {
  text-transform: uppercase;
}

#article-title {
  font-family: cursive;
}