/* universal selector */
* {
  border: 1px solid red;
}

p {
    color: green;
}

h1 {
  color: maroon;
}

/* class selector */
.title {
  color: teal;
}

.uppercase {
  text-transform: uppercase;
}

.heading-background {
  background-color: aqua;
}

/* id selector */
#article-title {
  font-family: cursive;
}

#publish-time {
  color: grey;
}

/* attribute selector */
a[href*='florence'] {
  color: lightgreen;
}

a[href*='beijing'] {
  color: lightblue;
}

a[href*='seoul'] {
  color: lightpink;
}

/* pseudo-class */
a:hover {
  color: darkorange;
}

h5 {
  color: yellow;
}

.author-class {
  color: pink;
}

#author-id {
  color: cornflowerblue;
}

/* chaining */
h2.destination {
  font-family: Tahoma;
}