h1 {
    /* font-family is used to define the font of the text. font stack is used in case the browser can't read the defined font */
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* font-weight controls how bold or thin text appears */
    font-weight: lighter;
    /* font-style can be used to make text italic */
    font-style: italic;
    /* text-transform allows you to change text to uppercase or lowercase */
    text-transform: uppercase;
}

p {
    /* letter-spacing sets the horizontal spacing between individual characters in an element */
    letter-spacing: 0.3em;
    /* word-spacing sets the space inbetween words */
    word-spacing: 0.25em;
    /* line-height is used to set how tall each line containing text to be */
    line-height: 1.4;
    /* text-aling is used to aling text according to its parent element */
    text-align: justify;
    font-family: "Space Mono", monospace;
}