h1 {
  font-family: Georgia;
  text-align: center;
  background-color: aqua;
}

h2 {
  font-family: Georgia;
  color: brown;
}

p {
  font-family: Helvetica;
  font-size: 18px;
  font-weight: bold;
}

.writer-img {
  opacity: 0.5;
}