body {
  background-color: black;
  font-family: Arial;
}

p {
  color: white;
  font-size: 37px;
  margin: 7px;
}

.value-button {
  height: 50px;
  width: 50px;
  border: none;
  border-radius: 25px;
  color: white;
  font-size: 20px;
}

.grey-button {
  background-color: #333333;
}

.orange-button {
  background-color: #FDA00A;
}

.clear-button {
  background-color: #333333;
  font-size: 15px;
}